* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1 {
  margin: 12px;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.course {
  margin: 10px 20px;
  line-height: 20px;
}

.courseimg {
  width: 240px;
  height: 160px;
}

.posk0 {
  background-image: url(imgs/0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk1 {
  background-image: url(imgs/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk2 {
  background-image: url(imgs/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk3 {
  background-image: url(imgs/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk4 {
  background-image: url(imgs/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk5 {
  background-image: url(imgs/5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk6 {
  background-image: url(imgs/6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk7 {
  background-image: url(imgs/7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk8 {
  background-image: url(imgs/8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk9 {
  background-image: url(imgs/9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk10 {
  background-image: url(imgs/10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk11 {
  background-image: url(imgs/11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.posk12 {
  background-image: url(imgs/12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
